.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #A5BECC;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #94B49F;
  font-size: 8rem;
  color: #243A73;
}

p {
  font-size: 2rem;
  color: #243A73;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}
